.jumbotron {
	background-color: #7f462c;
	text-align: center;
	color: white;

}

.panel-default >.panel-heading{
	
	font-weight: bold;
	background-color: #337ab7;
	color : white;

}

.panel-body > #traininfo {
	font-weight: bold;
}